body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Box{
    height: 200px;
    width: 200px;
    background-color: yellow;
    /* transition-property:width;
    transition-duration:  2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s; */
    /* transition: transform 1s ease-in-out 0s,
    background-color 2s ease 0s; */
    transition: all  1s ease-in-out;
}
.Box:hover{
   transform: rotate(135deg);
   background-color: brown;
   scale: 2;
}