*{
    margin: 0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    /* display: flex; */
    background-color: antiquewhite;
}
div{
    font-size: x-large;
    width: 200px;
    height: 200px;
}
#bo{
    /* border-style:dotted ;
    border-width: 5px;
    border-radius: 10%; */
    text-align: center;
    background-color:rgb(241, 96, 96);
     
}
#co{
    text-align: center;
    background-color:rgb(238, 238, 238); 
}
#no{
    text-align: center;
    background-color:rgb(36, 234, 72); 
}