*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
}
*,*::after,*::before{
box-sizing: inherit;
}
* input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    border-style: dashed;
    width: 400px;
}
.Full_Form{
    border: 2px;
    margin: 30px;
    background-color: antiquewhite;
}
form{
    margin: 20px;
}

.Companyname{
    height: 20px;
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aqua;
    text-align: center;
    margin-left: 100px;
    padding: 30px;
}